.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: rgb(163, 162, 162);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);
}

ul.dropdown-menu li:hover {
  background: rgb(47, 46, 46);
}

.dropdown-menu.visible {
  transform: scaleY(1);
  transition: transform 1s cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.dropdown-menu {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 1s ease-in-out;
}
